<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="net.beautifycrack.dao.ProvidersResourceMapper">
    <!--***************施工工人 *************** -->
	<!-- 分页工人查询数据 -->
	<select id="workerPagerList" parameterType="Map" resultType="worker">
		select
			worker_id as id,
			name as name,
			avatar as avatar,
			providers_id as providersId
		from tbl_worker
		where providers_id=#{providersId}
		LIMIT #{startRow}, #{pageSize}
	</select>
	
	<!-- 查询工人总数 -->
	<select id="queryWorkerTotal" parameterType="Long" resultType="Integer" >
		select count(worker_id) from tbl_worker where providers_id=#{providersId}
	</select>
	
	<!-- 增加工人 -->
	<insert id="addWorker" parameterType="worker">
		insert into tbl_worker(name,avatar,providers_id,create_time)value(#{name},#{avatar},#{providersId},now())
	</insert>
	
	<!-- 查找工人 -->
	<select id="findWorker" parameterType="Long" resultType="worker">
		select
			worker_id as id,
			name as name,
			avatar as avatar,
			providers_id as providersId
		from tbl_worker
		where worker_id=#{id}
	</select>
	<!-- 更新工人 -->
	<update id="updateWorker" parameterType="worker">
		update tbl_worker
		set update_time = now()
		<if test="name!=null and name!=''">
			,name=#{name}
		</if>
		
		<if test="avatar!=null">
			,avatar=#{avatar}
		</if>
		where worker_id=#{id}
	</update>
	
	<!-- 删除工人 -->
	<delete id="deleteWorker" parameterType="Long">
		delete from tbl_worker where worker_id=#{id}
	</delete>
	
	<!--***************施工案例  ************************-->
	<!-- 分页案例查询数据 -->
	<select id="workcasePagerList" parameterType="Map" resultType="constructionCase">
		select
			case_id as id,
			title as communityName,
			img_id as imageId,
			providers_id as providersId
		from tbl_work_case
		where providers_id=#{providersId}
		LIMIT #{startRow}, #{pageSize}
	</select>
	
	<!-- 查询案例总数 -->
	<select id="queryWorkcaseTotal" parameterType="Long" resultType="Integer" >
		select count(case_id) from tbl_work_case where providers_id=#{providersId}
	</select>
	
	<!-- 增加案例-->
	<insert id="addWorkcase" parameterType="constructionCase">
		insert into tbl_work_case(title,img_id,providers_id,create_time)value(#{communityName},#{imageId},#{providersId},now())
	</insert>
	
	<!-- 查找案例 -->
	<select id="findWorkcase" parameterType="Long" resultType="constructionCase">
		select
			case_id as id,
			title as communityName,
			img_id as imageId,
			providers_id as providersId
		from tbl_work_case
		where case_id=#{id}
	</select>
	<!-- 更新案例 -->
	<update id="updateWorkcase" parameterType="constructionCase">
		update tbl_work_case
		set update_time = now()
		<if test="communityName!=null and communityName!=''">
			,title=#{communityName}
		</if>
		
		<if test="imageId!=null">
			,img_id=#{imageId}
		</if>
		where case_id=#{id}
	</update>
	
	<!-- 删除案例 -->
	<delete id="deleteWorkcase" parameterType="Long">
		delete from tbl_work_case where case_id=#{id}
	</delete>
</mapper>









