<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="net.beautifycrack.dao.ProvidersMapper">
	<!-- 分页查询数据 -->
	<select id="pagerList" resultType="providers" parameterType="Map">
		select 
			providers_id as providersId,
			provider_name as providerName,
			profile as profile,
			phone_no as phoneNo,
			address as address,
			logo as logo,
			type as type,
			head as head,
			city as city
		from tbl_providers_info 
		where serviceType=0 and type in
				<foreach item="item" index="index" collection="list" 
                         open="(" separator="," close=")">
                        #{item}
                </foreach>
		order by order_no
		LIMIT #{startRow}, #{pageSize}
	</select>
	
	<!-- 查询一条详细信息 -->
	<select id="queryProvider" parameterType="Long" resultType="providers">
		select 
			providers_id as providersId,
			provider_name as providerName,
			profile as profile,
			phone_no as phoneNo,
			address as address,
			logo as logo,
			type as type,
			head as head,
			city as city
		from tbl_providers_info 
		where providers_id =#{providerId}
	</select>
	
	<!-- 查询总数 -->
	<select id="queryTotal" resultType="Integer" parameterType="List">
		select 
			count(*) 
		from tbl_providers_info 
		where serviceType=0
			and type in
			<foreach item="item" index="index" collection="list" 
                         open="(" separator="," close=")">
                        #{item}
             </foreach>
	</select>
	
	<!-- 新增供应商 -->
	<insert id="addProviders" parameterType="providers">
		insert into tbl_providers_info (
			provider_name,
			profile,
			phone_no,
			address,
			logo,
			state,
			order_no,
			type,
			head,
			city,
			serviceType,
			creator,
			create_time
		)
		value
		(
			#{providerName},
			#{profile},
			#{phoneNo},
			#{address},
			#{logo},
			#{state},
			#{orderNo},
			#{type},
			#{head},
			#{city},
			#{serviceType},
			#{createTime},
			now()
		)
	</insert>
	
	<!-- 更新提供商 -->
	<update id="updateProviders" parameterType="providers">
		update tbl_providers_info 
		set
		update_time = now()
		<if test="providerName!=null and providerName!=''">
			,provider_name = #{providerName}
		</if>
		<if test="profile!=null and profile!=''">
			,profile = #{profile}
		</if>
		<if test="phoneNo!=null and phoneNo!=''">
			,phone_no = #{phoneNo}
		</if>
		<if test="address!=null and address!=''">
			,address = #{address}
		</if>
		<if test="logo!=null">
			,logo =#{logo}
		</if>
		where providers_id =#{providersId}
	</update>
	
	<!-- 删除供应商 -->
	<delete id="deleteProviders" parameterType="Long">
		delete from tbl_providers_info where providers_id =#{providerId}
	</delete>
</mapper>









