@CHARSET "UTF-8";

/*图片上传*/
.uploader-list {
    width: 100%;
    overflow: hidden;
}

#uploader.thumbnail {
    width: 110px;
    height: 110px;
}
.file-item {
    float: left;
    position: relative;
    margin: 0 20px 20px 0;
    padding: 4px;
}