<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="net.beautifycrack.dao.NewsMapper">
	<!-- 查询新闻列表 -->
	<select id="pageList" resultType="news">
		select 
		 id as id,
		 title as title,
		 publish_time as publishTime
		from tbl_news
		where publish_state=1
		order by publish_time desc
	</select>
	
	<!-- 查询一条详细信息 -->
	<select id="showNews" resultType="news">
		select * from tbl_news
	</select>
	
	<!-- 查询总数 -->
	<select id="queryTotal" resultType="Integer">
		select count(*) from tbl_news where publish_state=1
	</select>
</mapper>









