<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="net.beautifycrack.dao.NewsMapper">
	<!-- 查询新闻列表 -->
	<select id="pagerList" resultType="news" parameterType="Map">
		select 
		 id as id,
		 title as title,
		 publish_time as publishTime
		from tbl_news
		where publish_state=1
		order by publish_time desc
		LIMIT #{startRow}, #{pageSize}
	</select>
	
	<!-- 查询一条详细信息 -->
	<select id="showNews" parameterType="Integer" resultType="news">
		select 
		id as id,
		title as title,
		content as content,
		publish_time as publishTime 
		from tbl_news where id=#{id}
	</select>
	
	<!-- 查询总数 -->
	<select id="queryTotal" resultType="Integer">
		select count(*) from tbl_news where publish_state=1
	</select>
	
	<select id="newsListIndex" resultType="news">
		select
		id,
     	case when LENGTH(title)>15 then
		   concat(left(title,15),'...') 
     	else
     		title
     	end as title,
		 publish_time as publishTime
		from tbl_news
		where publish_state=1
		order by publish_time desc
		LIMIT 0,15
	</select>
</mapper>









