<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="net.beautifycrack.dao.ProvidersMapper">
	<!-- 分页查询数据 -->
	<select id="pagerList" resultType="providers" parameterType="Map">
		select 
			providers_id as providersId,
			provider_name as providerName,
			profile as profile,
			phone_no as phoneNo,
			address as address,
			logo as logo,
			type as type,
			head as head,
			city as city
		from tbl_providers_info 
		where sts=0 and type in
				<foreach item="item" index="index" collection="list" 
                         open="(" separator="," close=")">
                        #{item}
                </foreach>
		order by order_no
		LIMIT #{startRow}, #{pageSize}
	</select>
	
	<!-- 查询一条详细信息 -->
	<select id="showProviders" parameterType="Integer" resultType="providers">
		select 
			providers_id as providersId,
			provider_name as providerName,
			profile as profile,
			phone_no as phoneNo,
			address as address,
			logo as logo,
			type as type,
			head as head,
			city as city
		from tbl_providers_info 
		where sts=0 and providers_id =#{providersId}
	</select>
	
	<!-- 查询总数 -->
	<select id="queryTotal" resultType="Integer" parameterType="List">
		select 
			count(*) 
		from tbl_providers_info 
		where 
			sts=0
			and type in
			<foreach item="item" index="index" collection="list" 
                         open="(" separator="," close=")">
                        #{item}
             </foreach>
	</select>
	
	<!-- 首页显示数据 -->
	<select id="providersListIndex" parameterType="List" resultType="providers">		
		select 
			providers_id as providersId,
			provider_name as providerName,
			profile as profile,
			phone_no as phoneNo,
			address as address,
			logo as logo,
			type as type,
			head as head,
			city as city
		from tbl_providers_info 
		where sts=0 and type in
			<foreach item="item" index="index" collection="list" 
                         open="(" separator="," close=")">
                        #{item}
             </foreach>
		order by order_no
		LIMIT 0,4
	</select>
	
	<!-- 查找施工工人信息,显示3条 -->
	<select id="findProviderWorker" parameterType="Integer" resultType="user">
	
	</select>
	
	<!-- 查找施工案例信息 -->
	<select id="findConstructionCase" parameterType="Integer" resultType="constructionCase">
	
	</select>
	
	<!-- 查找预约小区信息 -->
	<select id="findBookingCommunity" parameterType="Integer" resultType="bookingCommunity">
	
	</select>
	
	<!-- 查找公司资质信息 -->
	<select id="findQualification" parameterType="Integer" resultType="qualification">
	
	</select>
	
</mapper>









