<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>beautifycrack</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
    	classpath:applicationContext.xml
    </param-value>
  </context-param>
  <!-- Log4j配置 -->
  <context-param>
  	<param-name>log4jConfigLocation</param-name>
  	<param-value>classpath:/log4j.xml</param-value>
  </context-param>
  <context-param>
	<param-name>webAppRootKey</param-name>
	<param-value>beautifycrack</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  <!-- 加载log4j配置文件 -->
  </listener>
  <listener>
  	<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
    <listener>
    <listener-class>net.beautifycrack.listener.ContextPathListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:dispatcher-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/index/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.gif</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.jpeg</url-pattern>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.svg</url-pattern>
        <url-pattern>*.eot</url-pattern>
        <url-pattern>*.woff</url-pattern>
        <url-pattern>*.woff2</url-pattern>
        <url-pattern>*.ttf</url-pattern>
  </servlet-mapping>
  <!-- jstl标签定义 -->
  <jsp-config>
  	<taglib>
		<taglib-uri>c</taglib-uri>
		<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
	</taglib>
  </jsp-config>
  <welcome-file-list>
    <welcome-file>index/home</welcome-file>
  </welcome-file-list>
</web-app>