@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding:0;
}

html,body,body.page,.wf-container > *,.gform_wrapper .top_label .gfield_label,textarea,input {
  font: 14px;
  word-spacing: normal;
  color: #8d9095;
  font-family: "微软雅", Helvetica, Arial, Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
}

ul{
    margin: 0;
	padding: 0;
}
ul li{
	list-style-type: none;
}

.header{
	background: #ffffff none repeat center top;
	position: relative;
	display: block;
}

.header-first-box{
    width: 100%;
    height: 35px;
    line-height: 35px;
    background-color: #f5f5f5;
    transition: margin .3s;
    -webkit-transition: margin .3s;
    -moz-transition: margin .3s;
    -ms-transition: margin .3s;
    -o-transition: margin .3s;
}
.header-nav-first{
	width: 1220px;
	position: relative;
    height: 35px;
    margin: 0 auto;
}
.nav-first-left{
	float: left;
    z-index: 7048;
    min-width: 120px;
    height: 35px;
    font-size: 12px;
}
.nav-first-right{
	float: right;
    font-size: 12px;
}

.header a, .header-nav .nav-first-left, .header-nav a, .header-nav-content a, .header-nav label{
    text-decoration: none;
    outline: 0;
    font-family: "Source Han Sans SC","HanHei SC","PingFang SC","Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    cursor: pointer;
}
.header-nav a:hover, .header-nav-content a:hover{
	text-decoration: none;
}
.nav-first-phone {
    position: relative;
    float: right;
    margin-left: 22px;
    font-size: 12px;
    line-height: 35px;
    color: #999;
}

.nav-first-right a {
    float: right;
    display: block;
    padding: 0 10px;
    color: #999;
    cursor: pointer;
}

.nav-first-right .division-thread {
    float: right;
    margin: 11px 0 0;
}
.division-thread {
    width: 1px;
    height: 12px;
    vertical-align: top;
    background-color: #c4c4c4;
}

.header-nav-content {
    transition: top .3s;
    -webkit-transition: top .3s;
    -moz-transition: top .3s;
    -ms-transition: top .3s;
    -o-transition: top .3s;
}
.header-nav, .header-nav-content {
    width: 100%;
    background-color: #fff;
}

.header-nav-box, .nav-content-list, .nav-content-right {
    transition: top .3s;
    -webkit-transition: top .3s;
    -moz-transition: top .3s;
    -ms-transition: top .3s;
    -o-transition: top .3s;
}
.header-nav-box {
    position: relative;
    height: 70px;
    width: 1220px;
    margin: 0 auto;
}

.nav-content-left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 44;
    margin-top: 12px;
}

.nav-content-right{
	position: relative;
    z-index: 42;
    width: 665px;
    margin-left: 330px;
}

.nav-content-list {
    text-align: center;
    height: 70px;
}
.nav-content-list li {
    position: relative;
    float: left;
    margin-right: 15px;
    height: 49px;
    cursor: pointer;
    padding: 21px 16px 0;
}
.nav-content-list li a {
    position: relative;
    display: block;
    height: 26px;
    font-size: 14px;
    line-height: 26px;
    color: #333;
}

.nav-content-list li.on a, .nav-content-list li a:hover {
    padding-bottom: 1px;
    border-bottom: 2px solid #0cb46a;
    color: #0cb46a;
}


/* 首页幻灯片 banner */
.banner { position: relative; overflow: auto; text-align: center;min-height: 450px;background-color: #f5f5f5;}
.banner li { list-style: none; }
.banner ul li { float: left; }


#banner .dots { position: absolute; left: 0; right: 0; bottom: 20px;}
#banner .dots li { 
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    width: 72px;
    height: 12px;
    margin: 5px;
    background: #FFF;
    overflow: hidden;
    text-indent: -9999px;
    opacity: .4; 
	-webkit-transition: background .5s, opacity .5s; 
	-moz-transition: background .5s, opacity .5s; 
	transition: background .5s, opacity .5s;
}
#banner .dots li.active 
{
	background: #00ada7;
	opacity: 1;
}

/* 效果CSS开始 */
@-webkit-keyframes 'xuanzhuan' {from {-webkit-transform:perspective(400px) rotateY(0deg);}to {-webkit-transform:perspective(400px) rotateY(360deg);}}


.t1{ background:url(../images/t_line.jpg) no-repeat 0px 3px; padding-left:20px; font-size:18px;padding-bottom: 5px;border-bottom: 1px solid #f0f0f0;}
.index-title{
	
}
.index-title h1 span{
	display: block;
    font-size: 36px;
    color: #000;
    position: relative;
}
.index-title h1 span:before,.index-title h1 span:after{
	content: '';
    position: absolute;
    top: 52%;
    background: #494949;
    width: 12%;
    height: 2px;
}

.index-title h1 span:before{
	left:29%
}

.index-title h1 span:after {
    right: 29%;
}

.index_left{ width:850px;}
.wper50{width:50%;}
.wper25{width: 25%}
.w1190{ width:1190px;}
.w955{ width:955px;}
.w940{ width:940px;}
.w800{ width:800px;}
.w400{ width:400px;}
.w283{ width:283px;}
.w310{ width:310px;}
.w275{ width:275px;}
.h245{ height:245px;}
.w200{ width:200px;}
.w170{ width:170px;}
.w160{ width:160px;}
.w150{ width:150px;}
.h165{ height:165px;}
.h120{ height:120px;}
.h115{ height:115px;}
.h45{ height:45px; line-height:45px;}
.h30{ height:30px; line-height:30px;}
.h25{ height:25px; line-height:25px;}
.minh405{min-height: 405px;}
.minh256{min-height: 256px;}
.minh210{min-height: 210px;}
.minh123{min-height: 123px;}
.index_left .ge{ padding:10px 0; height:245px;}
.index-image a, .index_left .ge a{ display:block; position:relative;}
.index_left .ge span{ display:block; }
.index-image b, .index_left .ge b{ position:absolute; bottom:0; left:0; width:100%; background:#000;-moz-opacity:0.6; filter:alpha(opacity=60);opacity: 0.6; z-index:0;}
.index-image p, .index_left .ge p{position:absolute; line-height:30px; bottom:0; left:0; width:100%; color:#FFF; z-index:1; text-align:center}
.index-image p.f16, .index_left .ge p.f16{ line-height:45px;}
.index-image a:hover img, .index_left .ge a:hover img{-moz-opacity:0.8; filter:alpha(opacity=80);opacity: 0.8;}


.index-image a img{
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
}
 .index-image a img:hover {
  -ms-transform: scale(1.15);
      transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
}


.index_left .index_pic1{ height:195px; overflow:hidden;}
.index_left .index_pic1 img{ width:100%; height:195px;}
.index_left ul.round{ width:105%;}
.index_left ul.round li{ float:left; margin-right:31px; text-align:center; font-size:13px; margin-top:10px;}
.index_left ul.round li img{ width:60px; height:60px;}
.index_left ul.round li a:hover{ text-decoration:none; color:#F00;}
.index_left ul.round li a:hover img{-moz-opacity:0.8; filter:alpha(opacity=80);opacity: 0.8;}

.index_right{ width:320px;}
.index_right ul.alzs{}
.index_right ul.alzs li{ width:100%; overflow:hidden; margin-top:8px; }
.index_right ul.alzs li a{ background:url(../images/linkImg.png) no-repeat 0 3px;padding-left:18px; font-size:14px; color:#666}
.index_right ul.alzs li a:hover{ background:url(../images/linkImg.png) no-repeat 0px -18px; text-decoration:none; color:#F30}
.index_right .lx_nr{ font-size:13px; color:#666; line-height:2; padding:10px 0 0 0;}

#company li, #worker li{
	float:left;
	width: 400px;
	margin-bottom: 25px;
	padding-bottom: 10px;
}

.workertext{
  border: 2px solid #f7f8f9;
  margin: 5px 0px 0px 27px;
  background: #fff;
  box-shadow: 0 0 8px #999;
  padding: 0.8em;
  height: 145px;
}
.workertext:before{
  content: "";
  position: absolute;
  top: 15px;
  left: 155px;
  width: 0;
  border: 20px solid transparent;
  border-right-color: #fff;
}

.container{ padding:0;margin: 0 auto 20px auto; min-height: 507px;width: 1190px;}

/*分页*/
#kkpager {
	width: 650px;
    margin: 0 auto;
    padding: 40px 0 0 0;
}

/* 底部 */
.foot{ padding: 30px 0px 85px 0px;margin: 0px;background: #c1c1c1 none repeat center top;}

/*文字列表页 侧边栏*/
.newsbox { margin-bottom:20px; }
.navmenu { width:100%; line-height:45px; border-bottom:2px solid #00ada7; font-size:15px; color:#00ada7; text-indent:10px; font-weight:bold; }
.navmenu span { float:right; margin-right:10px; font-size:12px; font-weight:normal; color:#5f5f5f; }

/*新闻列表*/
#newsList li,#evaluationInfo li{
	border-bottom: 1px dotted #CCC;
	font-size:14px;
}

.news-title{
  font-size: 18px;
  line-height: 34px;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.news-content{
  line-height: 14px;
  color: #999;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#newsli li{
  height: 80px;
  padding: 12px 0 20px;
  border-bottom: 1px dotted #e8e8e8;
}

/*新闻内容*/
.newsnr h1.newstitle { text-align:center; font-size:22px; line-height:56px;width:500px;margin: 0 auto; }
.newsnr span.newsxx { text-align:center; font-size:12px; color: #505050; display:block; line-height:25px; border-bottom:1px solid #eee; margin-bottom:10px; padding-bottom:10px; }
.newsnr .content { padding:10px; font-size: 14px; line-height: 1.8; }
.newsnr .content img { max-width:980px; width:expression(document.body.clientWidth>980?"980px":"auto");
overflow:hidden; }
.newsnr .content .fenxiang { display:block; height:25px; margin:10px 0; }

/*公司列表*/
.text-list{ padding:0px}
.text-list ul li:hover{background-color:#FEFDEB;}
.text-list ul li{border-bottom:1px solid #CCC; padding:20px 0}
.text-list ul li .fleft{height:145px;text-align:center; font-size:16px; color:#666;}
.text-list ul li .fleft img{ width:160px; height:110px;}
.text-list ul li .fright{ height:110px; position:relative;}
.text-list ul li .fright p.bt a{ color:#333; font-size:18px;}
.text-list ul li .fright p.bt a:hover{ color:#ccaa00}
.text-list ul li .fright p.jj{ line-height:2; font-size:14px; text-indent:20px; color:#666}
.text-list ul li .fright p.ck{ width:100%; position:absolute; left:0px; bottom:0;color:#666}
.text-list ul li .fright p.ck span.eye{ background:url(../images/eye.jpg) no-repeat left center; padding-left:20px; float:left}
.text-list ul li .fright p.ck span.time{ float:right; font-size:13px; }

/*公司列表 点击进入按钮*/
#companyList .fright a{
	width: 118px;
    height: 25px;
    text-align: center;
    color: #333;
    font-size: 14px;
    background-color: #FFF;
    display: block;
    border: 1px solid #FA6;
    line-height: 25px;
}
#companyList .fright a:hover{ color:#C00; border-color:#F60; background-color:#FFC;}

/*单页面*/
.leftmenu { width:250px; background:#F4F4F4; height:auto!important; height:650px; min-height:650px; }
.leftmenu li a { line-height:40px; font-size:14px; padding-left:30px; display:block; background:url(ico.gif) 18px center no-repeat; }
.leftmenu li a.select { background-color:#00ada7 !important; color:#fff !important }
.leftmenu li a:hover { background-color:#eee; text-decoration:none; color:#00ada7 }


.webyy input[type="text"]{ padding:2px 5px; font-size: 14px; line-height: 18px; height:24px; border: 1px solid #C1C1C1; overflow-y: auto; font-family: arial; word-wrap: break-word; background-color: white; color: #333; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); -moz-transition: border-color .2s ease, background-color .2s ease; -webkit-transition: border-color .2s ease, background-color .2s ease; -o-transition: border-color .2s ease, background-color .2s ease; transition: border-color .2s ease, background-color .2s ease; margin-bottom:5px; width:250px;}
.webyy textarea{line-height: 18px;
    padding: 4px 5px;
    border: 1px solid #CCC;
    background: white;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: background-color .2s ease;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); margin-bottom:5px;}
.webyy input[type="submit"]{ padding:5px 20px;}

/*过长省略号*/
.ellipsis{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	display: inline-block;
}

.l_phone {font: 700 18px/32px arial,'\5FAE\8F6F\96C5\9ED1';color: #e50;position: relative;padding-right: 19px;z-index: 2;}
.focus:hover{box-shadow: 0 0 15px #cccccc;-webkit-box-shadow: 0 0 15px #cccccc;-moz-box-shadow: 0 0 15px #cccccc;}

.login_icon_account_b{
	background: url("../images/login_icon_account_b.png");
}

.login_icon_password_b{
	background: url("../images/login_icon_password_b.png");
}

.login_icon_account_b, .login_icon_password_b{
	width:33px;
	height: 34px;
	display: inline-block;
}

.errorbox {
  /*background: #fff9f9;
  border: 1px solid #fac5c5;*/
  color: #f22625;
  height: 26px;
  line-height: 26px;
  margin-bottom: 10px;
  padding-left: 10px;
  display:none;
}

.errorbox i {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  border-radius: 14px;
  font-size: 10px;
  background: #f11b1b;
  font-style: normal;
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin-right: 5px;
}

/*返回顶部*/
.to-top{
	background: #3498db; 
	color: #fff;
	padding: 15px;
	border-radius: 5px;
	font-weight: 500;
    font-size: 1.4em;
    font-family: "Microsoft YaHei","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif;
}

.to-top:hover, .to-top:focus {
    color: #74777b;
}
.to-top:hover{text-decoration: none}
.to-top:active, .to-top:hover {
    outline: 0;
}

#shape{
	background: url("../images/rocket.png") no-repeat scroll 0 0  transparent;
	display: block;
	height: 130px;
	width: 115px;
	overflow: hidden;
	border-color: red;
	position: fixed;
	margin:-125px 0 0;
	right: 0;
	top:90%;
	z-index: 12;
}
#shape .shapeColor{
	background: url("../images/rocket.png") no-repeat scroll -149px 0;
	display:none; 
    height:130px;
    width: 115px;
    z-index:11;
    overflow: hidden;
    position: absolute;
}

#shape .shapeColor .shapeFly{
	background: url("../images/rocketFly.gif") no-repeat;
	display:none; 
    height:130px;
    width: 115px;
    z-index:10;
    overflow: hidden;
    position: absolute;
}
