<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="net.beautifycrack.dao.FileInfoMapper">
	<!-- 查询新闻列表 -->
	<select id="findFileById" parameterType="Long" resultType="fileInfo" >
		select 
		 	file_id as fileId,
			orgin_name as orginName,
			file_name as fileName,
			file_path as filePath,
			creator as creator,
			create_time as createTime
		from tbl_file_info
		where file_id=#{fileId}
	</select>
	
	<!-- 获取最大文件id -->
	<select id="getMaxFileId" resultType="Long">
		select IFNULL(max(file_id+1),1) from tbl_file_info
	</select>
	<!-- 新增文件 -->
	<insert id="add" parameterType="fileInfo">
		insert into tbl_file_info
		(
			file_id,
			orgin_name,
			file_name,
			file_path,
			creator,
			create_time
		)
		value
		(
			#{fileId},
			#{orginName},
			#{fileName},
			#{filePath},
			#{creator},
			now()
		)
	</insert>
	
	<!-- 删除文件 -->
	<delete id="delete" parameterType="Long">
		delete from tbl_file_info where file_id=#{fileId};
	</delete>
</mapper>









